@media only screen and (max-width:740px) {

    :root {
        --font-family-futura-pt: "futura-pt";
        --font-family-poppins: "poppins";
        --font-size-for-p: 19.24px;
    }

    @font-face {
        font-family: "futura-pt";
        src: url(../futura/FuturaTLig.ttf);
    }

    @font-face {
        font-family: "poppins";
        src: url(../Poppins/Poppins-Light.ttf);
    }

    html,
    body {
        overflow-x: hidden !important;
        max-width: 100% !important;
    }

    body {
        width: 100%;
        height: 7524px;
        margin: 0;


    }

    .header {
        width: 100%;

        height: 88.63px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    .header-div {
        width: 100%;
        height: 88.63;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .logo {
        width: 200px;
        height: 30px;
        margin: 0 0 0 15px;





    }


    .search-bar {
        width: 100px;
        height: 35px;
        text-align: center;
        padding-top: 5px;
        font-size: 50px;
        color: #544f4c;
        line-height: 30px;
        font-family: var(--font-family-poppins);



    }

    .background1 {
        width: 100%;
        height: 549.37px;
        background-image: url(../img/DSC_6445_3.png);
        background-size: cover;
        background-position: 70%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;





    }

    .background1::before {
        width: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-image: url(../img/DSC_6445_3.png);
        background-size: cover;
        background-position: 94%;
        filter: brightness(60%);
        margin: 0;

    }


    #tittle {
        color: rgb(255, 255, 255);
        position: absolute;
        font-family: var(--font-family-futura-pt);
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.01em;
        text-transform: none;
        font-size: 59px;
        width: 100%;


    }

    #svg {
        position: absolute;
        align-self: self-end;
        margin-bottom: -1px;
        width: 101%;


    }

    .first-section {
        width: 100%;
        height: 954px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .first-section-inside-box {
        width: 344px;
        height: 298px.125px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .first-tittle-section-inside-box {
        width: 343.45;
        height: 298.13;
        font-size: 49.9px;
        font-family: var(--font-family-futura-pt);
        color: #544f4c;
        font-weight: 600;
    }

    .first-p {
        font-family: var(--font-family-poppins);
        opacity: 1;
        font-size: 19.24px;
        font-weight: 300;
        letter-spacing: 0em;
        color: #544f4c
    }

    .first-sq-buttom {
        width: 172px;
        height: 72px;
        align-self: center;
        margin-top: 10%;
        background-color: #544f4c;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
    }

    .sq-link {
        text-align: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: white;
        font-family: var(--font-family-poppins);
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.02em;
        font-size: 20px;
        padding: 10px 50px 0 50px
    }


    .second-section-tittle {
        width: 100%;
        height: 120px;
        display: flex;
        margin: 0;
    }

    .second-tittle-section-inside-box {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: var(--font-family-futura-pt);
        font-size: 37.6px;
        color: #544f4c;
        font-weight: 700;

    }

    .second-section-inside-box {
        width: 100%;
        height: 2692px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .ul-menu {
        width: 390px;
        height: 2505px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 0px;



    }

    .ul-menu-item {
        width: 90%;
        height: 500px;
        flex-basis: 24.2%;
        align-self: center;
        margin: 0 10% 0 0;
        background-color: #f2f2f0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .img1 {
        width: 316.8px;
        height: 317.8px;
        background-image: url(../img/installers.jpg);
        border-radius: 368px;
        background-size: cover;
        margin-top: 20px;
    }

    .item1-tittle {
        width: 316.8px;
        height: 23.59px;
        text-align: center;
        font-family: var(--font-family-futura-pt);
    }

    .item1-p {
        width: 88%;
        height: 134.25px;
        font-family: var(--font-family-poppins);
        font-size: 16px;
        text-align: center;
        color: #000000;
        letter-spacing: 0.097vh;
    }

    .img2 {
        width: 316.8px;
        height: 317.8px;
        background-image: url(../img/DSC_7828.jpg);
        border-radius: 368px;
        background-size: cover;
        margin-top: 20px;
    }

    .item2-tittle {
        width: 316.8px;
        height: 23.59px;
        text-align: center;
        font-family: var(--font-family-futura-pt);
    }

    .item2-p {
        width: 88%;
        height: 134.25px;
        font-family: var(--font-family-poppins);
        font-size: 16px;
        text-align: center;
        color: #000000;
        letter-spacing: 0.097vh;
    }

    .img3 {
        width: 316.8px;
        height: 317.8px;
        background-image: url(../img/IMG_woman.jpg);
        border-radius: 368px;
        background-size: cover;
        margin-top: 20px;
    }

    .item3-tittle {
        width: 316.8px;
        height: 23.59px;
        text-align: center;
        font-family: var(--font-family-futura-pt);
    }

    .item3-p {
        width: 88%;
        height: 134.25px;
        font-family: var(--font-family-poppins);
        font-size: 16px;
        text-align: center;
        color: #000000;
        letter-spacing: 0.097vh;
    }

    .img4 {
        width: 316.8px;
        height: 317.8px;
        background-image: url(../img/BOSART_37_OpenOffice_ViewIntoFramingAndStorageArea_66-EL.jpg);
        border-radius: 368px;
        background-size: cover;
        margin-top: 20px;

    }

    .item4-tittle {
        width: 316.8px;
        height: 23.59px;
        text-align: center;
        font-family: var(--font-family-futura-pt);
    }

    .item4-p {
        width: 88%;
        height: 134.25px;
        font-family: var(--font-family-poppins);
        font-size: 16px;
        text-align: center;
        color: #000000;
        letter-spacing: 0.097vh;
    }

    #item5 {
        width: 213px;
        height: 66px;
        background-color: #544f4c;
        margin: 0 0 5% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        color: white;
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-for-p);
        font-weight: 700;
    }

    .item5-link {
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        padding: 10% 0 0 0;
        text-decoration: none;


    }

    .third-section-inside-box {
        width: 100%;
        height: 936px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .third-section-tittle {
        width: 378px;
        height: 119px;
        font-family: var(--font-family-futura-pt);
        font-size: 50px;
        font-style: normal;
        text-align: center;
        color: #544f4c;
        font-weight: 800;
    }


    .third-section-p {
        width: 88%;
        height: 381px;
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-for-p);
        line-height: 30px;
        ;
    }

    .imageslides1 {
        width: 100%;
        height: 932px;
        background-image: url(../img/23.jpg);
        background-size: cover;
        background-position: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        margin: 0;
    }

    .square1 {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .insidebox1 {
        width: 500px;
        height: 83px;
        text-align: center;
        font-family: var(--font-family-futura-pt);
        font-weight: 700;
        font-size: 65px;
        color: white;
        margin-bottom: 3PX;

    }

    .insidebox2 {
        width: 180px;
        height: 60px;
        text-align: center;
        font-family: var(--font-family-poppins);
        font-size: 16px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        background-color: white;
        padding: 0px 0px 0 0PX;
        margin-bottom: 40PX;


    }

    
    .insidebox2:hover {
        background-color: rgba(255, 255, 255, 0.432);
        transition: all 0.40s ease;
    }

    .insidebox2-link:hover {
        background-color: rgba(255, 255, 255, 0.432);
        transition: all 0.40s ease;
    }

    .insidebox2-link {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        color: #000000;
        text-decoration: none;
        ;
    }


    .cubo2 {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        padding-bottom: 4%;
    }

    .arrow1 {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: white;
        text-align: center;
        font-size: 30px;
        margin-right: 5%;




    }

    .arrow2 {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: white;
        text-align: center;
        font-size: 30px;
    }

    .socialmediabox {
        width: 100%;
        height: 200px;
        font-family: var(--font-family-futura-pt);
        font-size: 19px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        justify-content: center;
        color: #544f4c;

    }

    .socialmediaboxtittle {
        width: 100%;
        height: 50px;
        padding-left: 2%;
    }

    .linkbox {
        width: 150px;
        height: 30px;
        background-image: url(../img/Screenshot\ 2025-01-22\ 144248.png);
        background-size: 96%;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .linkbox-ul {
        width: 121px;
        height: 30px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3% 10% 0 0;
        align-items: center;

    }


    .li {
        width: 20px;
        height: 20px;
        display: flex;

    }

    .ig1 {
        width: 100%;
        width: 100%;
        content: '';
    }

    .fb1 {
        width: 100%;
        width: 100%;
        content: '';
    }

    .in1 {
        width: 100%;
        width: 100%;
        content: '';
    }

    .mail1 {
        width: 100%;
        width: 100%;
        content: '';
    }

    .photossquares {
        width: 100%;
        height: 430px;
        ;
        margin: 0;
        padding-left: 1%;

    }

    .photos {
        width: 45%;
        height: 45%;
        display: inline-block;
        margin: 1.5%;
        ;
    }

    .almbum1 {
        background-image: url(../img/image-asset.jpeg);
        background-size: cover;
    }

    .almbum2 {
        background-image: url(../img/image-asset\ \(1\).jpeg);
        background-size: cover;
    }

    .almbum3 {
        background-image: url(../img/image-asset\ \(2\).jpeg);
        background-size: cover;
    }

    .almbum4 {
        background-image: url(../img/image-asset\ \(3\).jpeg);
        background-size: cover;
    }

    .aside {
        width: 100%;
        height: 610px;
        background-color: #f2f2f0;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 2%;
        margin: 0;
        margin-top: 15%;



    }



    .aside-tittle {
        width: 100%;
        height: 80px;
        color: #544f4c;
        font-family: var(--font-family-futura-pt);
        font-weight: 800;
        font-size: 17px;

    }

    .first-footer-p-mobile-11 {
        width: 100%;
        height: 150px;

        font-family: var(--font-family-futura-pt);
        font-size: 25px;
        color: #544f4c;
        line-height: 30px;
        font-weight: 700;


    }



    .mailtext {
        text-decoration: none;
        color: #544f4c;
        text-decoration: underline;
        font-size: 25px;

    }

    .second-footer-p {
        width: 380px;
        height: 150px;
        font-family: var(--font-family-futura-pt);
        font-size: 25px;
        color: #544f4c;
        line-height: 30px;
        font-weight: 700;
    }

    .footerlink {
        color: #383430;
    }

    .footerlink1 {
        color: #544f4c;
        text-decoration: none;
        text-decoration: underline;
    }

    .strg {
        color: #171616;
    }





    .footer-social-media {
        width: 430px;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        ;


    }

    .footer-social-media-inside-box {
        width: 150px;
        height: 30px;
        background-image: url(../img/Screenshot\ 2025-01-22\ 175602.png);
        background-size: 100%;
        background-position: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-social-media-inside-box-ul {
        width: 150px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding-right: 10%;
        padding-left: 0px;
    }

    .li1 {
        width: 40px;
        height: 30px;
        flex-basis: 20%;
        display: flex;

    }

    .ig2 {
        width: 100%;
        height: 100%;
    }

    .fb2 {
        width: 100%;
        height: 100%;
    }

    .in2 {
        width: 100%;
        height: 100%;
    }



    .mail2 {
        width: 100%;
        height: 100%;
    }



    /*no-displayable-items*/


    .br-p-for-desktop {
        display: none;
    }

    .p-for-desktop {
        display: none;
    }

    .footer-social-media-inside-box-desktop {
        display: none;
    }

    .first-footer-p {
        display: none;
    }

    .searchbar-ul {
        display: none;
    }

    .logo-img2 {
        display: none;
    }

    .svg1 {
        display: none;
    }
}
